@charset "utf-8";

@media screen and (max-width: 1749px) {
  .main-inner .e-text {
    font-size: 200%;
  }
  .main-inner .k-text {
    font-size: 180%;
  }
  .main-inner p {
    font-size: 80%;
  }
}
@media screen and (max-width: 1620px) {
  .footer-inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1570px) {
  .product-name b {
    right: 4%;
  }
  .product-name {
    margin: 0 10px;
  }
  .shop-down li {
    padding: 5px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 1500px) {
  .main-inner .e-text {
    font-size: 180%;
  }
  .main-inner .k-text {
    font-size: 150%;
  }
}
@media screen and (max-width: 1490px) {
  .product-name h2 span {
    display: inline-block;
    width: 200px;
    /* 1줄 ... 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1362px) {
  .footer-menu1 {
    padding: 5px;
  }
  .footer-menu2 li {
    padding: 5px;
  }
}
@media screen and (max-width: 1350px) {
  .main-inner .e-text {
    font-size: 170%;
  }
  .main-inner .k-text {
    font-size: 140%;
  }
}

@media screen and (max-width: 1255px) {
  .product-name h6 span {
    display: inline-block;
    width: 170px;
    /* 1줄 ... 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #content6 {
    display: none;
  }
  .content-inner li {
    width: calc(100% / 5);
  }
  .footer {
    text-align: left;
    flex-direction: column;
  }
  .footer-menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 1190px) {
  .main-inner .e-text {
    font-size: 150%;
  }
  .main-inner .k-text {
    font-size: 120%;
  }
  .main-inner p {
    font-size: 70%;
  }
}
@media screen and (max-width: 1136px) {
  #content5 {
    display: none;
  }
  .content-inner li {
    width: calc(100% / 4);
  }
  .service-menu a {
    justify-content: space-between;
  }
  .support-menu a {
    justify-content: space-between;
  }
  .footer_text {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-menu2 {font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header-inner .header-logo {
    width: 10%;
  }
  .h-logo {
    width: 50%;
  }
  .header-menu {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    font-size: 50%;
    margin: 0px 20px;
    padding: 0px 0px;
  }
  .header-menu li {
    font-weight: bold;
    font-size: 50%;
    padding: 0 10px;
  }
  .main-inner p{
    display: none;
  }
  .main-inner .e-text {
    
    font-size: 100%;
  }
  .main-inner .k-text {
 margin-top: 20px;
    font-size: 80%;
  }
  .content h1 {
    font-size: 180%;
  }
  .content-inner {
    flex-wrap: wrap;
    display: flex;
  } 
  .content-inner li {
    width: calc(100% / 6);
    flex-wrap: wrap;
  }
  .content-inner li img{
 
  }
  #content5{
    display: block;
  }
  #content6{
    display: block;
  }
  #kyu{
    display:none;
  }
  #kyujangb{
    display:none;
  }
  .shop-down {
    width: calc(100% / 2);
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
  }
  .product-name{
    margin: 0 10px;
  }
  .swiper-slide768 img {
    display: block;
    width: 100%;
  }
  .swiper-slide img {
    display: none;
    width: 100%;
  }
  .shop-up h1 {
    width: 80%;
    line-height: 60px;
    font-size: 180%;
    margin-left: 18%;
    padding-top: 10px;
  }
  .shop-up-a a {
    font-weight: 1000;
  }
  .shop-up-a span{
    font-size: 15px;
  }

.shop-up-a img {
  width: 80%;
  position: absolute;
  top: 20px;
  left: 12%;
}
}
